.ext-review-ui-articleWidget {
}

.ext-review-ui-articleWidget mark {
    background: linear-gradient(-100deg, hsla(48, 92%, 75%, .3), hsla(48, 92%, 75%, .7) 95%, hsla(48, 92%, 75%, .1));
    border-radius: 1em 0;
}

.ext-review-ui-articleWidget .mw-body, #mw-body-after-content {
    margin: 0;
}