.ext-review-dialogs-dialog-progress {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 16px 1fr;
    grid-template-areas:
        ". . ."
        ". progress ."
        ". . .";
}

.ext-review-dialogs-dialog-progress > .oo-ui-progressBarWidget {
    grid-area: progress;
}

.ext-review-dialogs-dialog-content {
    width: 100%;
    height: 100%;
}